body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff;
}
#container{
    width:85%;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 960px;
}
#marca{
    height: 300px;
    background: url(/assets/IMAGES/cabecalho.jpg)no-repeat bottom center;
    text-align: center;
    line-height:300px;
}
#conteudo{
    width: 74%;
    float:right;
}
#navegacao{
    width:24%;
    float:left;
    padding-top:20px;
    padding-bottom:20px;
    background: #d1d1d1; 
}
#rodape{
    text-align: center;
    clear:both;
    background:#c4c4c4;
    padding:5px;
}
#navegacao ul{
    list-style: none;
}
#navegacao li a{
    text-decoration:none;
}
#conteudo-principal{
   float:left;
   width:63%; 
}
#conteudo-secundario{
float:right;
background:#d1d1d1;
width:35%;
}
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p{
    padding-left:20px;
    padding-right:20px;
}
.img-responsive {
    width:96%;
    padding:2%;
}